/* Core Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Oswald', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

footer {
  padding: 20px;
  background-color: #f9f7f7;
  color: #333;
}

footer p {
  font-size: 0.9em;
}


/* Utility Classes */
.container {
  margin: auto;
  max-width: 1100px; /* Prevent stretching on wide resolutions */
  overflow: auto;
  padding: 0 20px;
}

.text-center {
  text-align: center;
}

/* Navigation Bar */
.navbar {
  background: #f9f7f7;
  color: #333;
  overflow: auto;
}

.navbar a {
  color: #333;
}

.navbar h1 {
  float: left;
  padding-top: 20px;
}

.navbar h1 a:hover {
  color: #3f72af;
}

.navbar ul {
  list-style: none;
  float: right;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: block;
  padding: 20px;
}

.navbar li a:hover,
.navbar li a.active {
  background-color: #EEE;
  color: #3f72af;
}

/* Landing area */

#landing-section {
  height: 500px;
  background: url('./images/Ginkakuji_B.jpg') no-repeat center/cover;
  color: #eee;
  background-attachment: fixed;
}



#landing-section #landing-content {
  color: #fff;
  text-align: center;
  padding-top: 180px;
}

#landing-content h1 {
  padding-bottom: 20px;
}

#landing-content p {
  padding-top:30px;
}

/* Error page */
.error-page {
  padding-top: 50px;
}