/* Page font */
body {
  font-family: 'Oswald', sans-serif;
}

/* Navigation Bar */
.navbar {
  list-style: none;
  text-align: right;
  margin: 0;
  padding-right: 80px;
  background: #333;
  border-radius: 5px;
  overflow: auto;

}

/* Floating list items to be lined horizontally */
.navbar li {
  display: inline-block;
}

/* Individual Menu Items */
.navbar li a {
  display: block;
  color: #FFF;
  text-decoration: none;
  padding: 15px 20px;
}

.navbar li a:hover {
  background-color: #222;
}

/* Landing area */

#landing {
  min-height: 300px;
  background: url('./images/Ginkakuji.jpg') no-repeat center/cover;
  color: #eee;
  border-radius: 5px;
}

#landing-content {
  background-color: rgba(51,51,51,0.7);
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 10px;
  width: 100%;
  height: 100%;
  min-height: inherit;
}

#landing-content h2 {
  line-height: 100%;
  vertical-align: middle;
}

/* Error page */
.error-page {
  padding-top: 50px;
}

/* General Styling */

.text-center {
  display: block;
  text-align: center;
}