html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: #FFF;
  box-shadow: none;
  height: 10vh;
  line-height: 10vh;
  border-bottom: 1px solid #AAA;
}

nav .brand-logo {
  padding-left: 30px;
  color: #333;
}

.navbar-fixed {
  height: 0px;
}

.section {
  padding: 2% 10%;
}

.page-footer {
  background-color: #1b262c;
}

.overview {
  font-weight: bold;
}

#nav, nav {
  color: #333;
}

#resume-button, #to-content {
  /* Fade-in using CSS3 Animation */
  opacity: 0;
  -webkit-animation: 1.5s forwards fadein 1.5s;
  -moz-animation: 1.5s forwards fadein 1.5s;
   -ms-animation: 1.5s forwards fadein 1.5s;
    -o-animation: 1.5s forwards fadein 1.5s;
       animation: 1.5s forwards fadein 1.5s;
}

#to-content {
  color: #333;
}

#landing {
  width: 100vw;
  height: 90vh;
}

#landing-content {
  display: inline-block;
  opacity: 0;
  margin: 0 auto;
  color: #333;

  /* Fade-in using CSS3 Animation */
  -webkit-animation: forwards fadein 1.5s;
  -moz-animation: forwards fadein 1.5s;
   -ms-animation: forwards fadein 1.5s;
    -o-animation: forwards fadein 1.5s;
       animation: forwards fadein 1.5s;
}

/* Animation Keyframes */

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}