body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav .brand-logo {
  padding-left: 30px;
}

.section {
  padding: 2% 10%;
}

.overview {
  font-weight: bold;
}